<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DictionaryMapper">

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into m_distinguish(
			distinguish_key,
			distinguish_id,
			distinguish_name,
			value,
			sort,
			insert_timestamp,
			insert_user,
			update_user,
			update_timestamp
		) values (
			#{distinguish_key},
			(select ifnull(max(md.distinguish_id+0),0) + 1 from m_distinguish md where distinguish_key = #{distinguish_key}),
			#{distinguish_name},
			#{value},
			#{sort},
			sysdate(),
			#{insert_user},
			#{update_user},
			sysdate()
		)
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from m_distinguish
		where
			distinguish_key = #{distinguish_key}
		and
			distinguish_id = #{distinguish_id}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update m_distinguish
		set
			distinguish_name = #{distinguish_name},
			value =#{value},
			sort = #{sort},
			update_timestamp = sysdate()
		where
			distinguish_key = #{distinguish_key}
		and
			distinguish_id = #{distinguish_id}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
			*
		from
			m_distinguish
		where
			distinguish_key = #{distinguish_key}
		and
			distinguish_id = #{distinguish_id}
	</select>
	<!-- 列表(全部) -->
	<select id="listPageAll" parameterType="pd" resultType="pd">
		SELECT
			d.distinguish_id,
			d.distinguish_key,
			d.distinguish_name,
			d.sort,
			d.`value`,
			d.del_flg,
			d.insert_user,
			DATE_FORMAT(d.insert_timestamp,'%Y-%m-%d %H:%i') AS insert_timestamp,
			d.update_user,
			DATE_FORMAT(d.update_timestamp,'%Y-%m-%d %H:%i') AS
			update_timestamp
		FROM m_distinguish d
		WHERE 1=1
		<if test="pd.distinguish_name!=null and pd.distinguish_name!=''"><!-- 关键字查询 -->
			and d.distinguish_name like '%${pd.distinguish_name}%'
		</if>
		and del_flg = 0
		ORDER BY d.distinguish_key desc,d.sort DESC
	</select>
	
	<select id="findByKey" parameterType="pd" resultType="pd">
		SELECT * FROM m_distinguish t
		where t.del_flg = 0
		and t.distinguish_key = #{pd.key}
		order by t.sort
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAllNews" parameterType="pd">
		delete from m_distinguish
		where 1=1
		 <if test="ArrayKye=null and ArrayKye=''">
		and  distinguish_key in
		<foreach item="distinguish_key" index="index" collection="array" open="("
			separator="," close=")">
			#{distinguish_key}
		</foreach>
		</if>
		<if test="ArrayUSER_IDS=null and ArrayUSER_IDS!=''">
		and 
		distinguish_id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
		</if>
	</delete>
	<!-- 获取所有新闻类型 -->
	<select id="listAllNews" parameterType="pd" resultType="pd"
		useCache="false">
		select
			distinguish_key,
			distinguish_id,
			distinguish_name,
			value,
			sort,
			del_flg
		from
			m_distinguish
		where
			distinguish_key = 'NEWS_TYPE'
		and
			del_flg = '0'
	</select>
</mapper>