.question-title {
    width: 1664px;
    margin-left: -35px;
}
.question-list-item {
    list-style-type: none;
    margin-left: 10px;
    padding-top: 5px;
}
.fa-send:before, .fa-paper-plane:before {
    content: "\f1d8";
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
}
.question-point {
    padding: 0 5px 0 5px;
    color: #428bca;
} 
.fa-plus-square:before {
    content: "\f0fe";
}
.modal{
height: 120px;
}
.question p{
   margin-top: 5px;
}
.question-content-img{
margin: 5px 0 5px 0;
}