.page-header {
	padding-bottom: 9px;
	margin: 40px 0 30px !important;
	border-bottom: 0px solid !important;
	background: #fff !important;
}

.pagination{
	float: none !important;
}
.pagination ul>li {
	display: inline;
}

.pagination ul>li>a {
	border-radius: 0 !important;
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}

.pagination ul>li:first-child>a {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

.pagination ul>li:last-child>a {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

.pagination .btn-success {
	color: #fff;
	background-color: #5cb85c !important;
	border-color: #4cae4c !important;
	
}
.pagination .btn-success:hover{
    background-color: #2eba2e !important;
    border-color: #2eba2e !important;
}
.pagination input[type="number"] {
	border-radius: 0 !important;
	border-left-width: 0;
	border-right-width: 0;
	color: #AAA;
	background-color: #FFF;
	border: 1px solid #ccc;
	box-shadow: none;
	transition-duration: .1s;
	padding: 4px 6px;
	width: 64px !important;
	margin-bottom:0 1px 10px 1px;
	font-size: 14px;
	line-height: 20px;
}