<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserXMapper">

	<!-- 换皮肤 -->
	<update id="setSKIN" parameterType="pd" flushCache="false">
		update SYS_USER set
			SKIN = #{SKIN}
		where USERNAME = #{USERNAME}
	</update>

	<!-- 更新登录时间 -->
	<update id="updateLastLogin" parameterType="pd" flushCache="false">
		update SYS_USER set
			LAST_LOGIN = #{LAST_LOGIN}
		where 
			USER_ID = #{USER_ID}
	</update>

	<!-- 判断用户名和密码 -->
	<select id="getUserInfo" parameterType="pd" resultType="pd"
		useCache="false"><!-- insert update delete (flushCache="true/false") -->
		select * from SYS_USER
		where 1=1
		<if test="USERNAME != null and PASSWORD != null">
	  	and	(
	  		(USERNAME = #{USERNAME} and PASSWORD = #{PASSWORD})
	  		or
	  		(EMAIL = #{USERNAME} and PASSWORD = #{PASSWORD})
	  		or
	  		(NUMBER = #{USERNAME} and PASSWORD = #{PASSWORD})
	  		)
		</if>
		<if test="USER_ID != null and USER_ID != ''">
		and USER_ID = #{USER_ID}
		</if>
	
	</select>



	<!-- 存入IP -->
	<update id="saveIP" parameterType="pd" flushCache="false">
		update
			SYS_USER
		set
			IP = #{IP}
		where
			USERNAME = #{USERNAME}
	</update>

	<!-- 修改 -->
	<update id="editU" parameterType="pd" flushCache="false">
		update SYS_USER
			set 
				USERNAME	=	#{USERNAME},
				NAME		=	#{NAME},
				ROLE_ID		=	#{ROLE_ID},
				BZ			=	#{BZ},
				EMAIL		=	#{EMAIL},
				NUMBER		=	#{NUMBER},
				PHONE		=	#{PHONE},
				UNIT_ID     =	#{unit},
				IS_SUPER_ADMIN =#{is_super_admin},
				association_id = #{association_id},
				organization_id = #{organization_id},
				volunteer_unit_id = #{volunteer_unit_id}
				
			<if test="PASSWORD != null and PASSWORD != ''">
				,PASSWORD = #{PASSWORD}
			</if>
		where
			USER_ID = #{USER_ID}
	</update>

	<!-- 通过user_id获取数据 -->
	<select id="findByUiId" parameterType="pd" resultType="pd"
		useCache="false">
		select
			USER_ID,
			USERNAME,
			PASSWORD,
			NAME,
			RIGHTS,
			ROLE_ID,
			LAST_LOGIN,
			IP,
			STATUS,
			BZ,
			SKIN,
			EMAIL,
			NUMBER,
			PHONE,
			UNIT_ID,
			IS_SUPER_ADMIN,
			association_id,
			organization_id,
			volunteer_unit_id
		from
			SYS_USER
		where
			USER_ID = #{USER_ID}
	</select>

	<!-- 通过邮箱获取数据 -->
	<select id="findByUE" parameterType="pd" resultType="pd"
		useCache="false">
		select
			USER_ID,
			USERNAME,
			PASSWORD,
			NAME,
			RIGHTS,
			ROLE_ID,
			LAST_LOGIN,
			IP,
			STATUS,
			BZ,
			SKIN,
			EMAIL,
			NUMBER,
			PHONE,
			UNIT_ID,
			IS_SUPER_ADMIN
		from
			SYS_USER
		where
			EMAIL = #{EMAIL}
			<if test="USERNAME != null and USERNAME != ''">
				and USERNAME != #{USERNAME}
			</if>
	</select>

	<!-- 通过编号获取数据 -->
	<select id="findByUN" parameterType="pd" resultType="pd"
		useCache="false">
		select
			USER_ID,
			USERNAME,
			PASSWORD,
			NAME,
			RIGHTS,
			ROLE_ID,
			LAST_LOGIN,
			IP,
			STATUS,
			BZ,
			SKIN,
			EMAIL,
			NUMBER,
			PHONE,
			UNIT_ID,
			IS_SUPER_ADMIN
		from
			SYS_USER
		where
			NUMBER = #{NUMBER}
			<if test="USERNAME != null and USERNAME != ''">
				and USERNAME != #{USERNAME}
			</if>
	</select>

	<!-- 通过USERNAME获取数据(SYS_USER) -->
	<select id="findByUId" parameterType="pd" resultType="pd"
		useCache="false">
		select
			USER_ID,
			USERNAME,
			PASSWORD,
			NAME,
			RIGHTS,
			ROLE_ID,
			LAST_LOGIN,
			IP,
			STATUS,
			BZ,
			SKIN,
			EMAIL,
			NUMBER,
			PHONE,
			UNIT_ID,
			IS_SUPER_ADMIN
		from
			SYS_USER
		where
			USERNAME = #{USERNAME}
	</select>
	

	<!-- 新增用户 -->
	<insert id="saveU" parameterType="pd" flushCache="false">
		insert into
		SYS_USER (
			USER_ID,
			USERNAME,
			PASSWORD,
			NAME,
			RIGHTS,
			ROLE_ID,
			LAST_LOGIN,
			IP,
			STATUS,
			BZ,
			SKIN,
			EMAIL,
			NUMBER,
			PHONE,
			IS_SUPER_ADMIN,
			UNIT_ID,
			association_id,
			organization_id,
			volunteer_unit_id
		) values (
			#{USER_ID},
			#{USERNAME},
			#{PASSWORD},
			#{NAME},
			#{RIGHTS},
			#{ROLE_ID},
			#{LAST_LOGIN},
			#{IP},
			#{STATUS},
			#{BZ},
			#{SKIN},
			#{EMAIL},
			#{NUMBER},
			#{PHONE},
			#{is_super_admin},
			#{unit},
			#{association_id},
			#{organization_id},
			#{volunteer_unit_id}
		)
	</insert>
	<!-- 用户列表(用户组) -->
	<select id="userlistPage" parameterType="page" resultType="pd"
		useCache="false">
		select u.USER_ID,
			u.USERNAME,
			u.PASSWORD,
			u.LAST_LOGIN,
			u.NAME,
			u.IP,
			u.EMAIL,
			u.NUMBER,
			u.PHONE,
			u.IS_SUPER_ADMIN,
			r.ROLE_ID,
			r.ROLE_NAME
		from SYS_USER u,
			SYS_ROLE r
		where u.ROLE_ID = r.ROLE_ID
		and u.USERNAME != 'admin'
		<if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 关键词检索 -->
			and
			(
			u.USERNAME LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			u.EMAIL
			LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			u.NUMBER LIKE
			CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			u.NAME LIKE
			CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			u.PHONE LIKE
			CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			)
		</if>
		<if test="pd.ROLE_ID != null and pd.ROLE_ID != ''"><!-- 角色检索 -->
			and u.ROLE_ID=#{pd.ROLE_ID}
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			and u.LAST_LOGIN &gt;= #{pd.lastLoginStart}
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			and u.LAST_LOGIN &lt;= #{pd.lastLoginEnd}
		</if>
		order by u.LAST_LOGIN desc
	</select>

	<!-- 用户列表(全部) -->
	<select id="listAllUser" parameterType="pd" resultType="pd"
		useCache="false">
		select
			u.USER_ID,
			u.USERNAME,
			u.PASSWORD,
			u.LAST_LOGIN,
			u.NAME,
			u.IP,
			u.EMAIL,
			u.NUMBER,
			u.PHONE,
			u.IS_SUPER_ADMIN,
			r.ROLE_ID,
			r.ROLE_NAME
		from SYS_USER u,
		SYS_ROLE r
		where u.ROLE_ID = r.ROLE_ID
		and u.USERNAME != 'admin'
		<if test="USERNAME != null and USERNAME != ''"><!-- 关键词检索 -->
			and
			(
			u.USERNAME LIKE CONCAT(CONCAT('%', #{USERNAME}),'%')
			or
			u.EMAIL
			LIKE CONCAT(CONCAT('%', #{USERNAME}),'%')
			or
			u.NUMBER LIKE
			CONCAT(CONCAT('%', #{USERNAME}),'%')
			or
			u.NAME LIKE CONCAT(CONCAT('%',
			#{USERNAME}),'%')
			or
			u.PHONE LIKE CONCAT(CONCAT('%', #{USERNAME}),'%')
			)
		</if>
		<if test="ROLE_ID != null and ROLE_ID != ''"><!-- 角色检索 -->
			and u.ROLE_ID=#{ROLE_ID}
		</if>
		<if test="lastLoginStart!=null and lastLoginStart!=''"><!-- 登录时间检索 -->
			and u.LAST_LOGIN &gt;= #{lastLoginStart}
		</if>
		<if test="lastLoginEnd!=null and lastLoginEnd!=''"><!-- 登录时间检索 -->
			and u.LAST_LOGIN &lt;= #{lastLoginEnd}
		</if>
		order by u.LAST_LOGIN desc
	</select>

	<!-- 删除用户 -->
	<delete id="deleteU" parameterType="pd" flushCache="false">
		delete from
			SYS_USER
		where
			USER_ID = #{USER_ID}
	</delete>

	<!-- 批量删除用户 -->
	<delete id="deleteAllU" parameterType="String" flushCache="false">
		delete from SYS_USER
		where
		USER_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	
	<!-- 系统用户列表 -->
	<select id="listPageSysUser" parameterType="page" resultType="pd"
		useCache="false">
		select 
			u.USER_ID,
			u.USERNAME,
			u.PASSWORD,
			u.LAST_LOGIN,
			u.NAME,
			m.unit_id,
			m.UNIT_NAME_FULL,
			u.IP,
			u.EMAIL,
			u.NUMBER,
			u.PHONE,
			r.ROLE_ID,
			r.ROLE_NAME,
			m.DEL_FLG
		from SYS_USER u left join m_unit m on u.unit_id = m.unit_id,
		SYS_ROLE r
		where u.ROLE_ID = r.ROLE_ID
		and u.USERNAME != 'admin'
		<!-- 非超级管理员，只能看到自己以及下级单位的数据 -->
		<if test="!pd.IS_SUPER_ADMIN">
			and (m.UNIT_ID = #{pd.UNIT_ID}
			or m.UNIT_PATH like '${pd.UNIT_ID}|%' or m.UNIT_PATH like '%|${pd.UNIT_ID}|%')
		</if>
		<if test="pd.unit_id != null and pd.unit_id != ''">
			and u.unit_id = #{pd.unit_id}
		</if>
		<if test="pd.ROLE_ID != null and pd.ROLE_ID != ''">
			and r.ROLE_ID = #{pd.ROLE_ID}
		</if>
		<if test="pd.USERNAME != null and pd.USERNAME != ''">
			and
			(
			u.USERNAME LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			u.EMAIL
			LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			u.NUMBER LIKE
			CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			u.NAME LIKE
			CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			u.PHONE LIKE
			CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			)
		</if>
		order by u.LAST_LOGIN desc
	</select>
	
	<!-- 修改用户密码 -->
	<update id="resetPass" parameterType="pd">
		update  SYS_USER
			set 
				PASSWORD = #{PASSWORD}
			where 
				USER_ID = #{USER_ID}
	</update>
	
	<select id="getUserUnitProvinceAndCityAndCounty" parameterType="pd" resultType="pd">
		SELECT 
			u.province province_id,
			u.CITY city_id,
			u.AREA area_id
		from sys_user t,m_unit u
		where t.UNIT_ID = u.UNIT_ID 
			and u.DEL_FLG = 0
			and t.USER_ID = #{user_id}
	</select>
	
	<select id="listByUnitId" parameterType="pd" resultType="pd">
		select 
			u.USER_ID,
			u.USERNAME,
			u.PASSWORD,
			u.LAST_LOGIN,
			u.NAME,
			m.unit_id,
			m.UNIT_NAME_FULL,
			u.IP,
			u.EMAIL,
			u.NUMBER,
			u.PHONE,
			m.DEL_FLG
		from SYS_USER u,m_unit m 
		where u.unit_id = m.unit_id
		and m.del_flg = '0'
		and m.unit_id = #{unit_id}
	</select>

	<!-- 校验用户名重复 -->
	<select id="hasU" parameterType="pd" resultType="pd" useCache="false">
		select
			USER_ID,
			USERNAME
		from
			SYS_USER
		where 1 = 1
		AND USERNAME = #{USERNAME}
		<if test="userId!=null and userId!=''">
			AND USER_ID != #{userId}
		</if>
	</select>
	
</mapper>